<div class="admin">
    <router-outlet></router-outlet>
    <div>
        <p>Driver Menu</p>
        <div *ngIf="isHome">
            <ul>
                <a><li routerLink=''>Home</li></a>
                <a><li routerLink='/admin/login'>Admin</li></a>
                <a><li routerLink='/user/login'>User</li></a>
                <a><li routerLink='/register'>Registration</li></a>
            </ul>
        </div>
        <div *ngIf="!isHome">
            <ul>
                <a><li routerLink='/driver/home'>Home</li></a>
                <a><li routerLink='/driver/route'>View Route Details</li></a>
                <a><li routerLink='/driver/tracking'>Add Tracking Details</li></a>
                <a><li routerLink='/driver/login'>Logout</li></a>
            </ul>
        </div>
    </div>
</div>
