<div>
    <div>
        <p>View Bus Routes</p>
        <table>
            <tr>
                <th>Route No</th>
                <th>Bus No</th>
                <th>Source</th>
                <th>Destination</th>
                <th>View Map</th>
            </tr>
            <tr>
                <td>5</td>
                <td>Sam Anderson</td>
                <td>Philadelphia</td>
                <td>New York</td>
                <td>View Map</td>
            </tr>
        </table>
    </div>
</div>