<div>
    <div>
        <p>View Bus Routes</p>
        <table>
            <tr>
                <th>Route No</th>
                <th>Bus No</th>
                <th>Source</th>
                <th>Destination</th>
                <th>View Map</th>
            </tr>
            <tr *ngFor="let busRoute of busRoutes">
                <td>{{busRoute.routeNo}}</td>
                <td>{{busRoute.busNo}}</td>
                <td>{{busRoute.source}}</td>
                <td>{{busRoute.destination}}</td>
                <td>View Map</td>
            </tr>
        </table>
    </div>
</div>