.bus-route {
    display: flex;
    justify-content: center;
    p {
        font-size: 25px;
    }
    &__form {
        width: 500px;
        height: 500px;
        padding-top: 10px;
    }
    &__form-inputs {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__menu {
        margin-left: 100px;
    }
    &__inner-inputs {
        display: flex;
        flex-direction: column;
    }
}

.submit {
    justify-content: center;
    margin-top: 60px;
    margin-left: 190px;
}