<div id="sect1" class="container">
  <div class="title">College Bus Tracking System</div>
  <div class="nav">
    <button routerLink='/' mat-button>Home</button>
    <button routerLink='/admin/login' mat-button>Admin</button>
    <button routerLink='/driver/login' mat-button>Driver</button>
    <button routerLink='/user/login' mat-button>User</button>
    <button routerLink='/register' mat-button>Registration</button>
  </div>
  <div class="description">
    <div class="description__image"></div>
    <div class="description__content">
      The SA Engineering College (SAEC), Chennai was established in 1998 by the Dharma Naidu Educational & Charitable
      Trust.
      The campus is spread over about 42 acres and has 2.25 lakh sq.ft. of constructed area.
      The college is affiliated to Anna University and offers UG and PG programmes in engineering.
      It also offers courses in computer application and business administration.
      The college is approved by AICTE and has accreditation by NBA.
    </div>
  </div>
  <router-outlet></router-outlet>
</div>