<div class="admin">
    <router-outlet></router-outlet>
    <div>
        <p>Admin Menu</p>
        <div *ngIf="isHome">
            <ul>
                <a><li routerLink=''>Home</li></a>
                <a><li routerLink='/admin/login'>Admin</li></a>
                <a><li routerLink='/user/login'>User</li></a>
                <a><li routerLink='/register'>Registration</li></a>
            </ul>
        </div>
        <div *ngIf="!isHome">
            <ul>
                <a><li routerLink='/admin/home'>Home</li></a>
                <a><li routerLink='/admin/user'>View Users</li></a>
                <a><li routerLink='/admin/bus-route'>Add Bus Route</li></a>
                <a ><li>Track Bus Details</li></a>
                <a><li routerLink='/admin/login'>Logout</li></a>
            </ul>
        </div>
    </div>
</div>
