<div class="admin">
    <router-outlet></router-outlet>
    <div>
        <p>User Menu</p>
        <div *ngIf="isHome" class="links">
            <ul>
                <a><li routerLink=''>Home</li></a>
                <a><li routerLink='/admin/login'>Admin</li></a>
                <a><li routerLink='/user/login'>User</li></a>
                <a><li routerLink='/register'>Registration</li></a>
            </ul>
        </div>
        <div *ngIf="!isHome" class="links">
            <ul>
                <a><li routerLink='/user/home'>Home</li></a>
                <a><li routerLink='/user/profile'>View Profile</li></a>
                <a><li routerLink='/user/bus-route'>View Bus Route</li></a>
                <a><li routerLink='/user/bus-tracking'>Track Bus Details</li></a>
                <a><li (click)="logout()">Logout</li></a>
            </ul>
        </div>
    </div>
</div>
